html {
    box-sizing: border-box;
    
}

* {
    padding: 0;
    margin: 0;
}

*::before, *::after{
    box-sizing: inherit;
}

polygon {
    fill: blue;
    /* opacity:0.2; */
}


body {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    font-size: 40px;
    line-height: 60px;
    color: white;
    text-align:center;
    text-shadow: 4px 4px 4px black;

    overflow:hidden;

}

.container {
    width:inherit;
    height:inherit;

}

/*width and height stretch the 1280px x 720px canvas to fill the browser*/
canvas {
    width:100vw;
    height:100vh;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;

    transition: filter 1s, width 1s, height 1s, top 1s, left 1s;

    /* background:black; */
}


.input_video {
    display:none;
}

.text {
    width:100vw;
    height: 100vh;
    /* background:blue; */
    position:relative;
    
    display: grid;
    place-content: center;
}

.snap {
    width: 100vw;
    height: 100vh;
    /* background:blue; */
    position: absolute;
    left:0;
    right:0;
    z-index:0;

    display: grid;
    place-content: center;
    display:none;
}

.story, .story_double {
    position: absolute;
    z-index: 4;
    /* ??text-align: justify of .story p doesn't work when display is grid?? */
    display: grid;
    place-content: center;
    min-height: 2em;

    /* background:red; */
}

.story p {
    min-width:6em;
    /* background:blue; */
}

.story_double {
    /* border: 3px solid red; */
    mix-blend-mode: difference;
    display:none;

}

.lavender, .parenthesis_left, .parenthesis_right {
    position: absolute;
    z-index: 5;
    display: none;
    place-content: center;
    background:blue;
}

.lavender img,
.parenthesis_left img,
.parenthesis_right img {
    width:100%;
    height:100%;
    object-fit:fill;
    display:block;
}

/*clipping mask for text, which I am trying to map to landmark coordinates*/
svg {
    position:absolute; 
    z-index:3;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;

    /* background-color: pink; */
}

.polygon-clipped {
    
}

.exterior {
    width:100vw;
    height:100vh;
    background:blue;
    position:absolute;
    top:0;
    left:0;
    z-index:4;
    display:none;
}
.polygon-clipped-inverted {
        /* mask:
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none"><polygon points="20,20 20,180 180,100 " fill="black"/></svg>') 0/100% 100%,
            linear-gradient(#fff, #fff); */
        mask-composite: exclude;

    -webkit-mask:
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none"><polygon points="20,20 20,180 180,100 " fill="black"/></svg>') 0/100% 100%,
            linear-gradient(#fff, #fff);
        -webkit-mask-composite: destination-out;
        
        background: transparent;
}

/* combination of https: //alvarotrigo.com/blog/animated-backgrounds-css/ and https: //stackoverflow.com/questions/5087420/how-to-rotate-the-background-image-in-the-container */
.bg_gradient:before {
    content: "";
    position: absolute;
    /* opacity:0; */
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-size: 300% 300%;
    background-image: radial-gradient(circle, rgba(251, 160, 63, 1) 0%, rgba(235, 198, 49, 1) 10%, rgba(184, 82, 238, 1) 22%, rgba(218, 149, 80, 1) 34%, rgba(155, 85, 224, 1) 45%, rgba(81, 148, 194, 1) 59%, rgba(152, 169, 125, 1) 71%, rgba(40, 57, 166, 1) 85%, rgba(252, 70, 107, 1) 100%);
    filter:blur(200px);
    animation: AnimateBG 10s ease infinite, rotate 10s ease infinite;
    
}

/* 
.lavenders:before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: 100% 100%;
    background-image: url(assets/img/lavenders_4.png);
}

.lavenders_text:before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: 100% 100%;
    background-image: url(assets/img/lavenders_4.png);
    background-color:rgba(81, 148, 194, .5);
} */


.inner_img {
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 0%
    }
    10% {
        background-position: 75% 30%
    }
    25% {
        background-position: 100% 100%
    }
    40% {
        background-position: 30% 80%
    }
    50% {
        background-position: 25% 50%
    }
    65% {
        background-position: 60% 20%
    }
    75% {
        background-position: 100% 75%
    }
    85% {
        background-position: 20% 60%
    }
    100% {
        background-position: 0% 0%
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

